body{
    margin: 0;
    background-color: rgb(108, 67, 67);
}

form{
    padding: 10px;
}

h1{
    color: white;
}

form input{
    display: block;
    width: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 2px;
    
}

input[type="submit"]{
    border-radius: 2px;
    border: solid 1px white;
    background-color: black;
    color: white;
    width: 5%;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#nombre{
    color: yellow;
}